<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма для заполнения договора Яндекс Директ</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #f4f4f4;
            color: #333;
            padding: 20px;
            margin: 0;
        }

        h2 {
            text-align: center;
            color: #4a54f1;
            padding-bottom: 20px;
        }

        form {
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 600px;
            margin: 20px auto;
        }

        label {
            font-weight: 500;
            display: block;
            margin-top: 10px;
        }

        input[type="text"],
        input[type="number"],
        input[type="email"],
        select {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            border-radius: 4px;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        input[type="submit"] {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 4px;
            background-color: #4a54f1;
            color: white;
            font-size: 16px;
            cursor: pointer;
            margin-top: 20px;
        }

        input[type="submit"]:hover {
            background-color: #3a44b1;
        }
    </style>
</head>
<body>
<h2>Форма для заполнения договора Яндекс Директ</h2>
<form action="/main/dogovor_yandex_direct/" method="post">
    {% csrf_token %}

    <label for="contract_number">Договор №:</label>
    <input type="text" id="contract_number" name="contract_number" required>
    <br>

    <label for="choose_executor">Выберите исполнителя:</label>
    <select id="choose_executor" name="choose_executor">
        <option value="ИП Михайлов Дмитрий Сергеевич">ИП Михайлов Дмитрий Сергеевич</option>
        <option value="ООО «МД»">ООО «МД»</option>
    </select><br>

    <label for="month">Месяц:</label>
    <select id="month" name="date_month" onchange="updateDays()" required>
        <option value="января">Январь</option>
        <option value="февраля">Февраль</option>
        <option value="марта">Март</option>
        <option value="апреля">Апрель</option>
        <option value="мая">Май</option>
        <option value="июня">Июнь</option>
        <option value="июля">Июль</option>
        <option value="августа">Август</option>
        <option value="сентября">Сентябрь</option>
        <option value="октября">Октябрь</option>
        <option value="ноября">Ноябрь</option>
        <option value="декабря">Декабрь</option>
    </select>

    <label for="day">День:</label>
    <select id="day" name="date_day">
    </select>

    <label for="year">Год:</label>
    <select id="year" name="date_year" onchange="updateDays()">
    </select><br><br>

    <label for="edo">По ЭДО:</label>
    <select id="edo" name="edo">
        <option value="YES">Да</option>
        <option value="NO">Нет</option>
    </select><br><br>

    <div id="customer_id_container">
        <label for="customer_id">ID заказчика:</label>
        <input id="customer_id" name="customer_id" required><br><br>
    </div>

    <script>
        // Функция обновления дней в зависимости от выбранного месяца и года
        function updateDays() {
            const monthSelect = document.getElementById("month");
            const month = monthSelect.selectedIndex + 1; // Получаем месяц как число
            const year = parseInt(document.getElementById("year").value);
            const daySelect = document.getElementById("day");

            // Определение количества дней в месяце
            const daysInMonth = new Date(year, month, 0).getDate();

            // Очистка предыдущих дней
            daySelect.innerHTML = '';

            // Добавление новых опций для дней
            for (let day = 1; day <= daysInMonth; day++) {
                const option = document.createElement("option");
                option.value = day;
                option.text = day;
                daySelect.add(option);
            }
        }

        // Инициализация годов и дней
        function initialize() {
            if (localStorage.getItem('auth') === '34') {
                console.log('User already authenticated.');
            } else {
                window.location.href = '/';
            }
            const yearSelect = document.getElementById("year");
            const currentYear = new Date().getFullYear();

            // Добавление диапазона годов
            for (let year = currentYear - 10; year <= currentYear + 10; year++) {
                const option = document.createElement("option");
                option.value = year;
                option.text = year;
                yearSelect.add(option);
            }

            // Выбор текущего года и месяца
            yearSelect.value = currentYear;
            document.getElementById("month").value = new Date().getMonth() + 1;

            // Обновление дней
            updateDays();
        }

        // Запуск инициализации при загрузке страницы
        window.onload = initialize;


        function toggleCustomerIdField() {
            const edoSelect = document.getElementById('edo');
            const customerIdContainer = document.getElementById('customer_id_container');
            const customerIdInput = document.getElementById('customer_id');

            if (edoSelect.value === 'NO') {
                customerIdContainer.style.display = 'none';
                customerIdInput.removeAttribute('required');
                customerIdInput.value = ''; // очищаем значение
            } else {
                customerIdContainer.style.display = 'block';
                customerIdInput.setAttribute('required', 'required');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('edo').addEventListener('change', toggleCustomerIdField);
            toggleCustomerIdField(); // при загрузке страницы
        });
    </script>

    <label for="organization_name">Полное наименование организации:</label>
    <input type="text" id="organization_name" name="organization_name" required minlength="2"><br><br>

    <label for="reason">На основании чего действует Заказчик (Устав/ОГРН):</label>
    <input type="text" id="reason" name="reason" required placeholder="В родительном падеже"><br><br>

    <label for="person_name">Заказчик в лице:</label>
    <input type="text" id="person_name" name="person_name" placeholder="ФИО в род. падеже" required><br><br>

    <label for="director_name">Фамилия и инициалы директора:</label>
    <input type="text" id="director_name" name="director_name" required><br><br>


    <label for="site_name">Сайт:</label>
    <input type="text" id="site_name" name="site_name" placeholder="example.ru" required><br><br>

    <label for="site_name">Стоимость работ цифрами:</label>
    <label for="price_count"></label><input type="number" id="price_count" name="price_count" required><br><br>

    <label for="email">Email заказчика:</label>
    <input type="email" id="email" name="email" required><br><br>


    <label for="red_organization_name">Сокращенное наименование организации:</label>
    <input type="text" id="red_organization_name" name="red_organization_name" required minlength="2"><br><br>

    <label for="inn">ИНН:</label>
    <input type="text" id="inn" name="inn" pattern="\d{10}|\d{12}" title="ИНН должен содержать 10 или 12 цифр" required><br><br>

    <label for="ogrn">ОГРН:</label>
    <input type="text" id="ogrn" name="ogrn" pattern="\d{13}|\d{15}" title="ОГРН должен содержать 13 или 15 цифр"
           required><br><br>

    <label for="registration_address">Адрес регистрации:</label>
    <input type="text" id="registration_address" name="registration_address" required><br><br>

    <label for="checking_account">Расчетный счет:</label>
    <input type="text" id="checking_account" name="checking_account" pattern="\d{20}"
           title="Расчетный счет должен содержать 20 цифр" required><br><br>

    <label for="correspondent_account">Корреспондентский счет:</label>
    <input type="text" id="correspondent_account" name="correspondent_account" pattern="\d{20}"
           title="Корреспондентский счет должен содержать 20 цифр" required><br><br>

    <label for="bank_name">Название банка:</label>
    <input type="text" id="bank_name" name="bank_name" required><br><br>

    <label for="bic">БИК:</label>
    <input type="text" id="bic" name="bic" pattern="\d{9}" title="БИК должен содержать 9 цифр" required><br><br>

    <input type="submit" value="Скачать договор">
</form>
</body>
</html>
